#dashboard{
    max-width: 80%;
    margin: auto;
    min-height: 100vh;
    max-width: 1300px;
    position: relative;
}

#posts{
    margin: auto;
    margin-top: 5px;
    max-width: 65%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-bottom: 30px;
}

.dashboard-posts{
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#delete-post-button-dashboard{
    justify-self: end;
    margin-right: 10px;
}