#my-profile-page{
    border: solid red;
    max-width: 1300px;
    margin: auto;
    min-height: 100vh;
    height: fit-content;
}

#profile-picture-div{
    width: fit;
    margin: 100px auto;
    border: blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#my-profile-picture{
    border: red solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#columns{
    text-align: center;
    border: blueviolet solid;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 50px;
    height: fit-content;
}

#personal-info{
    border: rgb(140, 140, 140) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: fit-content;
    overflow: hidden;
}

#posts-column{
    border: red solid;
    border-radius: 20px;
    height: fit-content; 
}
.width{
    width:100%;
    border-bottom: rgb(126, 122, 122) 1px solid;
    height: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    justify-content: center;
    font-family: 'Chivo';
}
#DOB{
    border-bottom: 0px;
}
.heads{
    font-size: 23px;
    color: rgb(45, 45, 45);
}
#add-post{
    border: blue solid;
    display: flex;

    margin: auto;
    width: 80%;
}
#new-post-personal-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: red solid;
}

#new-post-textarea{
    border-radius: 20px;
    width: 70%;
    text-align: center;
}

#my-post-author-info{
    border: blue solid;
    display: flex;
}