#container{
    height: 100vh;
}

#register-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    width: 400px;
    height: 700px;
    background-color: #fff3b0;
    box-shadow: 0px 0px 5px rgb(104, 104, 104);
}

#register-picture{
    height: 100px;
    width: 100px;
}

.register-inputs{
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 3px 2px  #989898;
    height: 35px;
    width: 300px;
    margin: 14px;
    text-indent: 15px;
}

#register-button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 80px;
}

#register-button{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 3px 2px  #989898;
    font-size: 20px;
    font-weight: 700;
}

#register-button:hover:enabled{
    background-color: #16FF00;
    color: white;
}

#password-and-message-register{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin-bottom: 1px;
}

.error-messages{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}

#password-input-register{
    margin: 0;
    margin-top: 3px;
}

#date-input{
    width: 300px;
    text-align: center;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 3px 2px  #989898;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color:grey;
}
#email-and-input-register{
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}
#email-input-register{
    margin: 0;
}
#email-message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}
#register-message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    font-size: 20px;
}